# Node
node_modules/
dist/
.build/
.cache/
.vite/
coverage/
*.log

# Env
.env
api/.env
web/.env

# OS/Editor
.DS_Store
.vscode/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate*
**/*.tfvars.bak
**/task-def-*.json
