# Database
DATABASE_URL="postgresql://user:pass@localhost:5432/tourism_dev"

# Auth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Sentry
NEXT_PUBLIC_SENTRY_DSN="https://xxx@yyy.ingest.sentry.io/zzz"
SENTRY_DSN="https://xxx@yyy.ingest.sentry.io/zzz"
SENTRY_AUTH_TOKEN="your-auth-token"
SENTRY_ORG="your-org"
